/* color scheme
#fff3e3 cream
#d5aaaa pinkish
#866d5c brown
#414f47 greenish
#17313b darkblue
*/
a:visited {
  color: #17313b;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #17313b;
}
.fa-bars {
  margin: 20px;
  font-size: 30px;
  position: fixed;
  right: 0px;
  z-index: 10;
  cursor: pointer;
}
.pullOutNav {
  min-height: 100vh;
  width: 25%;
  background-color: #F8FBF8!important;
  position: fixed;
  right: -25%;
  top: 0px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.6);
}
.navListWrap {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.navBtnList > li {
  list-style-type: none;
  display: block !important;
  margin-top: 20px;
  font-family: "poiret one";
  text-align: center;
}
.pullOut {
  animation: pullOutNav 0.3s ease-out forwards;
}
.pullIn {
  animation: pullInNav 0.4s ease-out forwards;
}
@keyframes pullInNav {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes pullOutNav {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
ul > li {
  list-style-type: none;
  display: inline;
  padding: 0;
  list-style-position: inside;
  font-size: 30px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.navBtnList> li > a:hover {
  color: #866d5c;
  transition: 0.2s ease-out;
}
ul {
  margin: 0px;
  padding: 0;
}
.nav-btns {
  height: 100%;
  font-family: "poiret one";
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
.nav-btn-stns {
  display: flex;
  background-color: #b3f442;
}
@media (max-width:1000px){
  .pullOutNav {
    width:40% !important;
    right:-40% !important;
  }
}
@media (max-width:700px){
  .pullOutNav {
    width:70% !important;
    right:-70% !important;
  }
}
